.add-movie-form {
    width: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-movie-form h1 {
    text-transform: uppercase;
    text-align: center;
    color: #111;
    font-weight: 400;
}

.add-movie-form label {
    width: 100%;
    position: relative;
    padding-top: 20px;
    margin-bottom: 5px;
    font-size: 14px;

    /* adding disply flex to center all inputs to h1 and button */
    display: flex;
}

.add-movie-form label input {
    width: 100%;
    appearance: none;
    padding: 12px;
    border-radius: 5px;
    outline: none;
    /* position: relative; */
    background: none;
    border: 2px solid #aaa;
}

.add-movie-form label span {
    position: absolute;
    left: 14px;
    top: 50%;
    color: #aaa;
    cursor: text;
    transform: translateY(-50% + 6px);
    transition: all .3s ease;
}

.add-movie-form label input:focus,
.add-movie-form label input:valid {
    border-color: #000;
}

.add-movie-form label input:focus + span,
.add-movie-form label input:valid + span {
    color: #222;
    top: 12px;
    font-size: 10px;
    background: #fff;
    padding: 2px;
}

.btn-add {
    width: 100%;
    padding: 8px;
    margin-top: 20px;
    cursor: pointer;
    border: 2px solid #0f0;
    background-color: transparent;
    text-transform: uppercase;
    color: #0f0;
}

.btn-add:active, .btn-add:hover {
    background-color: #0f0;
    color: #fff;
    outline: none;
}