.movies-container {
	max-width: 400px;
	margin: 30px auto;
	/* margin: 30px 10px 10px 10px; */
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 25px;
	align-items: center;
}

.movie-card {
	max-width: 380px;
	min-height: 300px;
	margin: 0px 10px;
	background: linear-gradient(#fff, rgb(99, 153, 247));
	border-radius: 5px;
	color: #fafafa;
	transition: all 0.3s ease;
	position: relative;
}

.movie-card img {
	width: 100%;
	height: 200px;
	object-fit: cover;
	transition: all 0.3s;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.movie-title-pl {
	position: absolute;
	top: 160px;
	left: 10px;
	display: block;
	text-align: center;
	font-size: 1.1rem;
	z-index: 10;
	text-transform: uppercase;
	font-weight: 700;
	padding-top: 10px;
	color: #fff;
	text-shadow: 1px 1px 5px #000;
}

.movie-title-eng {
	display: block;
	text-align: left;
	margin-left: 10px;
	color: #fff;
	text-transform: uppercase;
}


@media screen and (min-width: 401px) {
	.movies-container {
		min-width: 90vw;
		margin: 30px 10px 10px 10px;
		/* margin-top: 30px; */
		grid-template-columns: repeat(2, 1fr);
		gap: 20px 10px;
	}
	
	.movie-card {
		min-width: 44vw;
		min-height: 280px;
		box-shadow: 0 0 10px #333;
	}
	
	.movie-card img {
		min-width: 44vw;
		filter: opacity(0.85);
	}

	.movie-card:hover {
		box-shadow: none;
		color: #fff;
	}
	.movie-card:hover img {
		filter: opacity(1);
	}
}
@media only screen and (min-width: 800px) {
	.movies-container {
		min-width: 90vw;
		margin: 30px;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px 10px;
	}

	.movie-card {
		min-width: 30vw;
		min-height: 280px;
		box-shadow: 0 0 10px #333;
	}

	.movie-card img {
		min-width: 30vw;
		filter: opacity(0.85);
	}

	.movie-card:hover {
		box-shadow: none;
		color: #fff;
	}

}
/* @media only screen and (max-width: 800px){
	.movies-container {
		width: 100%;
		margin: 30px 10px;
		grid-template-columns: repeat(2, 1fr);
	}
	
	.movie-card {
		width: 90%;
		min-height: 280px;
		box-shadow: 0 0 10px #333;
	}
	
	.movie-card img {
		width: 100%;
		filter: opacity(0.85);
	}
} */