@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');

.movies-container {
  max-width: 50%;
  min-width: 0px;
  margin: 20px auto;
}

.movie-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fbf5f5;
  margin: 15px;
  padding: 10px;
  border-radius: 5%;
}

.movie-title-pl {
  font-size: 1.6rem;
  display: inline-block;
  margin: 0;
  font-family: 'Sigmar One', cursive;
}

.movie-title-eng {
  color: #906262;
  text-transform: uppercase;
}

.details-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
