/* .movie-container {
  min-width: 360px;
}

.movie-display-box {
  width: 360px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  position: relative;
}

.title-pl {
  display: block;
  font-style: italic;
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
}

.trailer {
  width: 300px;
  display: block;
  margin: 20px auto;
}
.movie-cover {
  width: 100%;
}

.title-en {
  text-transform: uppercase;
  display: block;
  text-align: center;
}

.year {
  display: none;
} */

@media screen and (min-width: 401px) {
  .movie-container {
    width: 960px;
    margin: 100px auto;
    color: #fff;
  }
  
  .movie-display-box {
    width: 720px;
    /* background: linear-gradient(to right,#fff, #6399f7); */
    background: #6399f7;
    height: 500px;
    margin: 0 auto;
    /* display: flex; */
    /* border: 1px solid #000; */
    border-radius: 25px;
    display: flex;
  }
  
  .display-box-left {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .display-box-left p {
    margin-left: 10px;
  }

  .display-box-right {
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title-pl {
    font-size: 1.6rem;
    margin-top: 50px;
    margin-left: 10px;
    text-transform: uppercase;
    /* position: absolute;
    top: 10%;
    left: 10%; */
  }

  .movie-cover {
    /* width: 250px; */
    height: 80%;
    border-radius: 15px;
    /* margin-right: 30px; */
    /* margin: 0 auto; */
    /* position: absolute; */
    /* top: 10%; */
    /* right: 10%; */
    /* box-shadow: 0 0 10px #fff; */
  }

  .trailer {
    border: 1px solid #fff;
    color: #fff;
    margin-left: 10px;
    padding: 10px;
    position: absolute;
    bottom: 50px;
    left: 10px;
  }

  .title-en {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-style: italic;
    margin-left: 10px;
    
  }

}