/* .signup-form {
  width: 360px;
  margin: 60px auto;
  padding: 20px;
}

.signup-form h2 {
  text-transform: uppercase;
  margin: 10px auto;
}

.signup-form label {
  display: block;
  margin: 30px auto;
}

.signup-form span {
  display: block;
  border-bottom: 6px;
}

.signup-form input {
  width: 100%;
  padding: 8px 5px;
  margin-bottom: 6px;
}

.btn-signup {
  width: 100%;
  padding: 5px;
  margin: 5px auto;
} */

.signup-form {
  margin: 60px auto;
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(105, 104, 104);
}

.signup-form h2 {
  text-transform: uppercase;
}

.signup-form span {
  display: block;
  margin: 5px auto;
  font-size: 1.2rem;
  text-decoration: underline;
}

.signup-form input {
  padding: 5px;
  margin: 5px 0;
}