@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');


.navbar {
  width: 100%;
  /* background: #effaf0; */
  padding: 10px 0 0 0px;
  box-sizing: border-box;
}

.navbar ul {
  display: flex;
  margin: 0 auto;
  max-width: 960px;
  align-items: center;
}

.navbar ul li {
  list-style-type: none;
}

.title {
  margin-right: auto;
  font-family: 'Sigmar One', cursive;
  letter-spacing: 10px;
  font-size: 1.5rem;
}

.navbar .nav-action {
  margin-left: 16px;
}

.clickable {
  cursor: pointer;
  text-decoration: underline;
  margin-right: 15px;
}

.navbar a {
  color: #333;
  text-decoration: none;
}
