@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');


.navbar {
  width: 100%;
  /* background: #effaf0; */
  padding: 10px 0 0 0px;
  box-sizing: border-box;
}

.navbar ul {
  display: flex;
  margin: 0 auto;
  max-width: 960px;
  align-items: center;
}

.navbar ul li {
  list-style-type: none;
}

.title {
  margin-right: auto;
  font-family: 'Sigmar One', cursive;
  letter-spacing: 10px;
  font-size: 1.5rem;
}

.navbar .nav-action {
  margin: 0 16px 0 10px;
}

.clickable {
  cursor: pointer;
}

.navbar a {
  color: #333;
  text-decoration: none;
}

.add-btn {
  padding: 3px;
  border: 1px solid #000;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  cursor: pointer;
  background-color: rgba(0,0,0,.05);
  text-transform: uppercase;
}

.add-btn:hover {
  background-color: transparent;
}

